<div id="wrap">
	
	<div id="content-wrap">
	</div>
	
	<!-- put stuff on the sidebar -->
	<div id="sidebar">
			<%= render :partial => 'sidebar_options' %>	
		
		<!-- post a comment -->
		
			<table>
				<tr class="row-a">
					<td class="first">
						<% form_tag :action => 'add_topic' do %>
							<%= text_area_tag :new_topic_text, params[:new_topic_text] %>
							<%= submit_tag "Add New Topic", :name => nil %>
						<% end %>
					</td>	
				</tr>
			</table>
		
		<p></p>
		<p></p>
		<% if @mode == 4 %>
			<h1>Admin Features</h1>
			<h1><%= link_to "See Cheer-Ratings" , :controller => 'home', :action => 'ratings' %></h1>
		<% end %>
	</div>

<div id="main">
	<table>
		<tr class="row-a">
			<td class="first">
				<% form_tag do %>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :name => nil%>
			</td>	
			<% end %>
			<td>
				<%= link_to "Clear search", :action => :topic %>
			</td>
		</tr>
	</table>
	
<!-- when no search is being done -->
<% if params[:search].nil? %>	
	 <table>
		<tr class="row-b">
			<td class="first">Topics</td>
			<td></td>
		</tr>
		
		<% @topics.each do |topic| %>
		<tr class ="row-c">
			<td class="first"><%= link_to(topic.topicname,{:action=>:index,:topic_id=>topic}) %></td>
			<td class="first"><%= if (@mode==4) and (topic.id != 1) then link_to(image_tag("trashcan.png",:size=>"10x10",:title=>"Delete"),{:action=>:delete_topic,:topic_id=>topic.id}) end %></td>
		</tr>
		<% end %>		
		 
	</table>
	
	<table><tr><td>
		<%= will_paginate @topics %>
	</td></tr></table>
	
<% else %> <!-- when a search is being done -->
	<!-- show search results from the _names_ of the topics -->
	<h2><%= if @match_topic.length != 0 then "Topic names containing search terms..." end %></h2>
		
	 <table>
		<% @match_topic.each do |topic| %>
		<tr class ="row-c">
			<td class="first"><%= link_to(topic.topicname,{:action=>:index,:topic_id=>topic}) %></td>
			<td class="first"><%= if (@mode==4) then link_to(image_tag("trashcan.png",:size=>"10x10",:title=>"Delete"),{:action=>:delete_topic,:topic_id=>topic.id}) end %></td>
		</tr>
		<% end %>
	</table>
	
	<!-- show search results from the posts in each of the topics, paginating as we go -->
	<% @topics.each do |topic| %>
		<% @threads = Post.find_some_threads(params[:search],topic.id)%>
		<h2><%= if @threads.length != 0 then "From #{topic.topicname}..." end %></h2>
		<%= if @threads.length != 0 then render :partial => 'thread' end %>
	<% end%>
	

<% end %>


<p></p>
<p></p>
<p></p>
<p></p>
<p></p>


</div>

  <div id="footer">
    <p> &copy; 2010 <strong>NCSU Twitter Backchannel Application</strong> | Design by: Sam and Anup</p>
  </div>
</div>