<div id="wrap">
	<div id="header">
		<h1 id="logo-text">NCSU TWITTER</h1>
		<h2 id="slogan">Sam and Anup's Brilliant Answer to Twitter</h1>
	</div>
	<div id="content-wrap">
		 	</div>

	<div id="main">
		<ul>
		<h1>SIGN IN</h1>
		<table><tr >
		<% form_tag do %>
		<p>
			<td class="first">
			<label for="name">UserName:</label>
			</td>
			<td>
			<%= text_field_tag :name, params[:name] %>
			</td>
		</p>
		</tr>
		<tr>
		<p>
			<td class="first">
			<label for="password">Password:</label>
			</td>
			<td>
			<%= password_field_tag :password, params[:password] %>
			</td>
		</p>
		</tr>
		<p>
		<tr>	
			<td class="first">
			<%= submit_tag "Login" %>
			</td>
		</p>
		</tr>
	<% end %>
	<p>
		<tr>
			<td class="first">	
			<%=link_to "Sign Up" , :controller => 'users', :action => 'new' %>	
			<%=link_to "Back" , :controller => 'home',:action => "index" %>
			</td>
</p>
			</tr>


	</table>
	</ul>
</div>
<div id="footer">
    <p> &copy; 2010 <strong>NCSU Twitter Backchannel Application</strong> | Design by: Sam and Anup</p>
  </div>
</div>