<div id="wrap">
	<div id="header">
		<h1 id="logo-text">NCSU TWITTER</h1>
		<h2 id="slogan">Sam and Anup's Brilliant Answer to Twitter</h2>
		<div id="header-links">
			<p> <% if @mode == -1 %>
				<%=h link_to "Log In", :controller => 'admin', :action => "login" %>
				<%=h link_to "Sign Up" , :controller => 'users', :action => 'new' %>
				<% else %>
				
				<%=h "Welcome #{@user}!" %>
				<%= link_to "Log out?", :controller => 'home', :action => 'logout' %>
				<% end %>
			</p>
		</div>
	</div>

		
	<div id="content-wrap">
	</div>
	
	<div id="sidebar">
		<h1><%= link_to 'View All Posts', :controller=>'home',:action=>'index' %></h1>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<h1>Admin Features</h1>
		<h1><%= link_to 'New user', new_user_path %></h1>
	</div>


<div id="main">
	<h1>Listing users</h1>

<table>
  <tr >
    <th class="first">Fullname</th>
    <th class="first">Username</th>
    <th class="first">Pass</th>
    <th class="first">Email</th>
    <th class="first">Role</th>
	<th class="first">Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle('row-a', 'row-b')%>">
    <td class="first"><%=h user.fullname %></td>
    <td class="first"><%=h user.name %></td>
    <td class="first"><%=h user.password %></td>
    <td class="first"><%=h user.email %></td>
    <td class="first"><%=h user.role_id %></td>
    <td class="first"><%= link_to 'Show', user %><br><%= link_to 'Edit', edit_user_path(user) %><br>
	<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
</table>
<table>
	<tr>
		<td>
			 <tr><td>
		<%= will_paginate @users %>
		</td>
	</tr>
		</td>
	</tr>
</table>
</div>

 <div id="footer">
    <p> &copy; 2010 <strong>NCSU Twitter Backchannel Application</strong> | Design by: Sam and Anup</p>
  </div>
</div>
