<h1>Update/Delete Microtasks <%=  %></h1>

<b color ="red"><%= flash[:notice] %></b>
<table class="general">
  <tr>
    <th width="5%">Topic #</th>
    <th width="50%">Topic name(s)</th>
    <th width="5%">Edit Microtask</th>
    <th width="5%">Delete Microtask</th>
    <!--<th width="5%">Subscribe</th>-->
  </tr>
  
   <%@count=0%>
   <%for microtask in @microtasks%>
   <%@count=@count + 1%>
<tr>
    <td width="5%"><%= @count  %></td>
    <td width="50%"><%=link_to microtask.name, :controller => 'microtasks', :action => 'users_belonging_to_microtask', :id=> microtask.id%></td>
    <td width="5%"><%=link_to 'edit', :controller => 'microtasks', :action =>'list_microtask_to_update', :id=> microtask.id%></td>
    <td width="5%"><%=link_to 'delete', :controller => 'microtasks', :action => 'delete', :id=> microtask.id%></td>
    <!--<td width="5%"><%= link_to image_tag('Check-icon.png', :border => 0, :title => 'Signup', :align => 'middle')  %> </td>-->
  </tr>
   <%end%>
  </table>
  <a href="javascript:history.back()">Back</a>  
<br/>