<%@assignment.questionnaires.each do |a|%>
  <%if a.display_type == "Review"%>
  <%@questionnaire = a%>
  <%end%>
  <%end%>
  <%@is_static = Questionnaire.find(@questionnaire.id)%>
  
<% form_tag :controller => 'review_mapping', :action => 'add_dynamic_reviewer', :id => @assignment.id, :user_id => session[:user].id, :participant_id => @participant_id, :tid => @topic_id do %>
<%if @assignment.team_assignment%>
<%if (@is_static.review_granularity == "submission_review_least_number") %>
====================================================================================================
<p><div class="flash_note">Select a submission from the list below to begin a new review. <b>You will be able to select only submissions with least overall reviews.</b></div></p>
<%@review=Array.new%>
<%@teamname.each do |topic_teamname|%>
<%@review << topic_teamname.number_of_assigned_reviews%>
   <%@min_review = @review.min%>
   <%end%>

 <%@teamname.each do |topic_teamname|%>
 <%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
 <%if ((topic_teamname.number_of_assigned_reviews)==@min_review)%>
  <input type="radio" name="contributor_id" value=<%=topic_teamname.id%>>&nbsp;<%= topic_teamname.name%><br></br>
 <%else%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= topic_teamname.name%><br></br>
<%end%>
<%else%>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= topic_teamname.name%><br></br>
 <%end%>
<%@user_id= TeamsUser.find_by_team_id(topic_teamname.id)%>

<%@participant= AssignmentParticipant.find_by_user_id_and_parent_id(@user_id.user_id,@assignment.id)%>

<% if @participant.get_hyperlinks.length > 0 %>
	<%= render :partial => 'submitted_content/hyperlink', :locals => {:participant => @participant} %><br/>
<% end %>

<% if @participant.assignment.wiki_type_id == 1%>
	<% current_folder = DisplayOption.new 
	current_folder.name = "" %>
  	<%@files = @participant.get_files(@participant.get_path + current_folder.name) %>
<table>
         <tr><td> </td><td><div id="1_myDiv"><%= display_directory_tree(@participant, @files, true) %> </div></td></tr>
</table>

<%else%>
  <%= render :partial => 'submitted_content/wiki', :locals => {:participant => @participant} %>
  
<%end%>
<%end%>
<br/><br/>
<%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
  <input type='submit' value='Request a New Submission to Review'/>
<%end%>
   
====================================================================================================
  <%else%>
  
  <p><div class="flash_note">Select a submission from the list below to begin a new review.</div></p>
  
 <%@teamname.each do |topic_teamname|%>
 <%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
<input type="radio" name="contributor_id" value=<%=topic_teamname.id%>>&nbsp;<%= topic_teamname.name%><br></br>
<%else%>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= topic_teamname.name%><br></br>
 <%end%>
<%@user_id= TeamsUser.find_by_team_id(topic_teamname.id)%>

<%@participant= AssignmentParticipant.find_by_user_id_and_parent_id(@user_id.user_id,@assignment.id)%>

<% if @participant.get_hyperlinks.length > 0 %>
	<%= render :partial => 'submitted_content/hyperlink', :locals => {:participant => @participant} %><br/>
<% end %>

<% if @participant.assignment.wiki_type_id == 1%>
	<% current_folder = DisplayOption.new 
	current_folder.name = "" %>
  	<%@files = @participant.get_files(@participant.get_path + current_folder.name) %>
<table>
         <tr><td> </td><td><div id="1_myDiv"><%= display_directory_tree(@participant, @files, true) %> </div></td></tr>
</table>

<%else%>
  <%= render :partial => 'submitted_content/wiki', :locals => {:participant => @participant} %>
  
<%end%>
<%end%>
<br/><br/>
<%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
  <input type='submit' value='Request a New Submission to Review'/>
<%end%>
<%end%>
<!-- No team with sign up topics--> 
<%else%>
<%@count=0%>
<%if (@is_static.review_granularity == "submission_review_least_number") %>
====================================================================================================
<p><div class="flash_note">Select a submission from the list below to begin a new review. <b>You will be able to select only submissions with least overall reviews.</b></div></p>
<%@review=Array.new%>
<%@team_names.each do |temp|%>
<%@user_id = temp.creator_id%>
<%@participant= AssignmentParticipant.find_by_user_id_and_parent_id(@user_id,@assignment.id)%>
<%@review << @participant.no_of_reviews%>
   <%@min_review = @review.min%>
<%end%>

<%@part.each do |temp|%>
<%@count = @count+1%>
<%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
 <%if ((temp.no_of_reviews)==@min_review)%>
<input type="radio" name="contributor_id" value=<%=temp.id%>>&nbsp;Participant ID is <%=temp.id %> submission <%=@count%><br></br>
<%else%>
&nbsp;&nbsp;&nbsp;&nbsp;Participant Id is <%=temp.id%>submission <%=@count%><br></br>
<%end%>
<%else%>
&nbsp;&nbsp;&nbsp;&nbsp;Participant Id is <%=temp.id%>submission <%=@count%><br></br>
<%end%>
<% if temp.get_hyperlinks.length > 0 %>
	<%= render :partial => 'submitted_content/hyperlink', :locals => {:participant => temp} %><br/>
<% end %>

<% if temp.assignment.wiki_type_id == 1%>
	<% current_folder = DisplayOption.new 
	current_folder.name = "" %>
  	<%@files = temp.get_files(temp.get_path + current_folder.name) %>
<table>
         <tr><td> </td><td><div id="1_myDiv"><%= display_directory_tree(temp, @files, true) %> </div></td></tr>
</table>

<%else%>
  <%= render :partial => 'submitted_content/wiki', :locals => {:participant => temp} %>
  
<%end%>
<%end%>
   <br/><br/>
   <%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
  <input type='submit' value='Request a New Submission to Review'/>
  <%end%>




====================================================================================================
<%else%>
<p><div class="flash_note">Select a submission from the list below to begin a new review.</div></p>

<%@count=0%>
<%@team_names.each do |temp|%>
<%@count = @count+1%>
<%@user_id = temp.creator_id%>
<%@participant= AssignmentParticipant.find_by_user_id_and_parent_id(@user_id,@assignment.id)%>
<%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
<input type="radio" name="contributor_id" value=<%=@participant.id%>>&nbsp;submission <%=@count%><br></br>
<%else%>
&nbsp;&nbsp;&nbsp;&nbsp;Participant Id is <%=@participant.id%>submission <%=@count%><br></br>
<%end%>


<% if @participant.get_hyperlinks.length > 0 %>
	<%= render :partial => 'submitted_content/hyperlink', :locals => {:participant => @participant} %><br/>
<% end %>

<% if @participant.assignment.wiki_type_id == 1%>
	<% current_folder = DisplayOption.new 
	current_folder.name = "" %>
  	<%@files = @participant.get_files(@participant.get_path + current_folder.name) %>
<table>
         <tr><td> </td><td><div id="1_myDiv"><%= display_directory_tree(@participant, @files, true) %> </div></td></tr>
</table>

<%else%>
  <%= render :partial => 'submitted_content/wiki', :locals => {:participant => @participant} %>
  
<%end%>
<%end%>
<br/><br/>
<%if !(@is_static.review_granularity == "topic_review_least_number" || @is_static.review_granularity == "any_topic_review")%>
	 <input type='submit' value='Request a New Submission to Review'/>
<%end%>
<%end%>
   

  
<%end%>
<%end%>


<%= link_to 'Back',:controller => 'student_review', :action => 'list', :id => @participant_id %>