<h1>Listing posts</h1>

<table>
  <tr>
    <th>ID</th>
	<th>Username</th>
    <th>Posttext</th>
	<th>Parent</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
  	<td><%=h post.id %></td>
    <td><%=h post.name %></td>
    <td><%=h post.posttext %></td>
	<td><%=h post.parentpost %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>