<h1>Assignments</h1>
<br/>
<div class="flash_note">Select an assignment from the list
  or set <strong><%= link_to 'publishing rights', :controller => 'publishing', :action => 'view' %></strong> for your work.
</div>
<br/>


<div style="width: 1024px">
  <div class="taskbox">
    <strong>&nbsp;&nbsp;<span class="tasknum">&nbsp;<%= @tasknotstarted.size.to_s %>&nbsp;</span> Tasks not yet started<br></strong><br>

    <% for participant in @tasknotstarted
        stage = participant.assignment.get_current_stage(participant.topic_id)
        duedate = participant.assignment.get_stage_deadline(participant.topic_id)
        id = participant.id
        controller = ""
        action = ""
        if stage == "submission"
            controller = "submitted_content"
            action = "edit"

            # check if the assignment has a sign-up sheet
	        if SignUpTopic.find_by_assignment_id(participant.assignment.id)
                selected_topics = nil

  	    	    if participant.assignment.team_assignment == true
                    # get the user's team and check if they have signed up for a topic yet
  		            users_team = SignedUpUser.find_team_users(participant.assignment.id,participant.user.id)
                    if users_team.size > 0
                        selected_topics = SignedUpUser.find_user_signup_topics(participant.assignment.id,users_team[0].t_id)
                    end
                else
                    # check if the user has signed up for a topic yet
                    selected_topics = SignedUpUser.find_user_signup_topics(participant.assignment.id,participant.user.id)
                end

                if selected_topics.nil? || selected_topics.length == 0
                    # there is a signup sheet and user/team hasn't signed up yet, produce a link to do so
                    controller = "sign_up_sheet"
                    action = "signup_topics"
                    id = participant.parent_id
                    stage = "signup"
                end
            end
        elsif stage == "resubmission"
            controller = "submitted_content"
            action = "edit"
        elsif stage == "review" or stage == "rereview" or stage == "metareview"
            controller = "student_review"
            action = "list"
        end
    %>

     <span>&nbsp; &raquo; <%= link_to participant.assignment.name + " " +
             stage, :controller => controller, :action => action, :id => id %> (<%=
         time_ago_in_words(duedate) %> left) </span><br/>

    <% end %>

    <br/> <strong> &nbsp;&nbsp;<span class="revnum">&nbsp;<%= @taskrevisions.size.to_s %>&nbsp;</span> Revisions<br></strong><br>
    <% for participant in @taskrevisions
        stage = participant.assignment.get_current_stage(participant.topic_id)
        duedate = participant.assignment.get_stage_deadline(participant.topic_id)
        controller = ""
        action = ""
        if stage == "submission" or stage == "resubmission"
            controller = "submitted_content"
            action = "edit"
        elsif stage == "review" or stage == "rereview" or stage == "metareview"
            controller = "student_review"
            action = "list"
        end
    %>

     <span>&nbsp; &raquo; <%= link_to participant.assignment.name + " " +
             stage, :controller => controller, :action => action, :id => participant.id %> (<%=
         time_ago_in_words(duedate) %> left) </span><br/>

    <% end %>
    <br/>

    <strong>&nbsp;&nbsp;<span class="tasknum">&nbsp;<%= @notifications.size.to_s %>&nbsp;</span> Notifications<br></strong><br>

    <% for participant in @notifications
        stage = participant.assignment.get_current_stage(participant.topic_id) %>

     <span class="notification">&nbsp; &raquo; <%= link_to participant.assignment.name + ": " +
             stage + " submitted", :controller => :grades, :action => :view_my_scores, :id => participant.id %></span><br/>

    <% end %>

  </div>

  <div class="topictable">
    <table class="listing" cellpadding="2">
      <tr class="taskheader">
      	<th></th>
        <th>Assignment</th>
        <th>Course</th>
        <th>Topic</th>
        <th>Current Stage</th>
        <th>Stage Deadline</th>
        <th>Publishing Rights</th>
      </tr>
	  <!--<%= "10 months ago " + 10.months.ago.to_s%>-->
		<% oaIDs = []%>
      <% for participant in @participants %>
          <% if participant.assignment != nil %>
			<% if (participant.assignment.course_id != nil && Course.find_by_id(participant.assignment.course_id).created_at >= 10.months.ago) || (participant.assignment.course_id == nil && participant.assignment.updated_at != nil && participant.assignment.updated_at >= 10.months.ago) #with a new course %>
		  	<tr class="listingRow">
		  		<td></td>
		  	<td><b><%= link_to participant.assignment.name, :action => 'view', :id => participant %></b></td>
		  	<td><%= participant.get_course_string %></td>
		  	<td><%= participant.get_topic_string %></td>
		  	<td><%= participant.assignment.get_current_stage(participant.topic_id) %></td>
		  	<td><%= participant.assignment.get_stage_deadline(participant.topic_id) %></td>
		  	<td align=center><% if participant.permission_granted %>granted
		        	<% else %>denied
		        	<% end %></td>
		  	</tr>
		   <% elsif (participant.assignment.course_id == nil && participant.assignment.updated_at != nil && participant.assignment.updated_at < 10.months.ago) #with a new course %>
		   		<% oaIDs.push(participant.assignment.id)%>
		   <% end%>
		   
		   <% end%>
		   
      <% end %>
	  

<% participant = @participants[1]%>
<% assignList = Participant.find(:all, :select => "distinct parent_id", :conditions => ["handle = ?",@participants[1].handle])%>
<% aIDs = []
for assignID in assignList
	aIDs.push(assignID.parent_id)
end%>
</table>

<% courseIDList = Assignment.find(:all, :select => "distinct course_id", :conditions => ["id in (?)",aIDs])%>

<%for courseID in courseIDList%>
	<% if courseID.course_id != nil%>
	<% course = Course.find(:first, :conditions =>["id = ?",courseID.course_id])%>
	  	<!--<%= "\n course name"+ course.name.to_s%>
		<%= "\n course id"+ course.id.to_s%>-->
		<% if course.created_at < 10.months.ago#for old courses%>
		<% #clustering the older course's assignments%> 
				<% parent_nodes = Node.find(:all, :conditions =>["node_object_id= ? AND type = 'CourseNode'", course.id])%>
				<% course_assign = Assignment.find(:all,:select => "id", :conditions =>["course_id = ?", course.id])%>
				<% #determine assignments for a particular participant%>
				<%part_assign = Participant.find(:all,:select => "parent_id", :conditions =>["parent_id in (?) AND handle = ?", course_assign, @participants[1].handle])%>
				<% caIDs = []
	 	 		for part in part_assign
      				caIDs.push(part.parent_id)
	  			end%>
				<% if parent_nodes != nil %>
					<TABLE class="listing" cellpadding="2" ID="courseTable">
						
						<% index = 1 
						for node in parent_nodes %>
							<%if index % 2 == 0 
								rowtype = "odd"
							else
								rowtype = "even"
							end 
							%>
							<!--<%= "handle @participants[1].handle -- " + @participants[1].handle%>-->						
							<%= render :partial=> '/student_task/entry', :locals => {:node => node, :handle => @participants[1].handle , :prefix => node.node_object_id.to_s+"_"+index.to_s, :depth => 0, :rowtype => rowtype, :assignList => caIDs} %>   
							<% 
							index+=1   
						end %>
					</TABLE>
				<% end %>
				<!--</td>-->
		<%end%>			
	<%end # end of if condition%>
<% end #end of for loop%>	  
	  		
	  
<!--<tr class="listingRow"><td><b><%= "List of completed assignments"%></b></td></tr>
<br/>-->
<% if !oaIDs.to_s.empty? %>
<!--<%= "oaIDS " + oaIDs.to_s%>-->
					<TABLE class="listing" CELLPADDING="2" ID="courseTable2">
						
						<% index = 1 %>
							<%if index % 2 == 0 
								rowtype = "odd"
							else
								rowtype = "even"
							end 
							%>
							<!--<tr></tr><td><b><%= "List of completed assignments"%></b></td></tr>-->						
							<%= render :partial=> '/student_task/entry', :locals => {:node => nil, :handle => @participants[1].handle , :prefix => 1.to_s+"_"+index.to_s, :depth => 0, :rowtype => rowtype, :assignList => oaIDs} %>   
							<% 
							index+=1%>
					</TABLE>
<%end%>
  </div>
</div>
